.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

img {
  width: 200px;
  border: solid 1px black;
}

h3 {
  text-decoration: underline;
}

.personal-data-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.educational-background-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
