* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.banner {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(43, 43, 43, 0.75)), url("../media/images/background3.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 0%, 15%);
}

.links-container {
  gap: 20px;
  padding: 10px;
}

.links-container li {
  display: inline-block;
  list-style-type: none;
  background-color: yellow;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
}

.links-container li a {
  display: block;
  color: hsl(0, 0%, 15%);
  text-decoration: none;
}

.logo {
  height: 10vh;
  cursor: pointer;

}

.content {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  color: white;
}

.content h1 {
  margin-top: 80px;
  font-weight: 1000;
}

input {
  width: 150px;
  padding: 15px;
  text-align: center;
  margin: 20px;
  border-radius: 30px;
  font-size: 15px;
  background-color: brown;
  color: white;
  cursor: pointer;
}

input:hover {
  background-color: hsl(0, 59%, 31%);
  border-color: black;
}

footer {
  background-color: hsl(0, 0%, 15%);
  height: 5vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }
}

h1 {
  animation: slideInDown 2s ease-in-out;
}

p {
  animation: slideUp 2s ease-in-out;
}

h3 {
  animation: slideRight 1.5s ease-in-out;
}
