body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  border: 1px solid black;
  height: 10vh;
  background-color: hsl(0, 0%, 15%);
  color: yellow;
}

header:hover {
  background-color: yellow;
  color: hsl(0, 0%, 15%);
}

.main-container {
  display: flex;
  border: 1px solid black;
  height: 80vh;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 1px solid black;
  background-color: yellow;
  flex-direction: column;
  color: hsl(0, 0%, 15%);
}

.links-container {
  display: flex;
  flex-direction: column;
}

.links-container a {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px 0;
  padding: 20px;
  background-color: hsl(0, 0%, 15%);
  color: yellow;
  text-decoration: none;
}

.links-container a:hover {
  background-color: yellow;
  color: hsl(0, 0%, 15%);
}

.links-container a:active {
  background-color: hsl(60, 100%, 45%);
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  border: 1px solid black;
  background-image: url("../media/images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.image-container img {
  max-width: 100%;
  width: 200px;
  border: 2px solid black;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  border: 1px solid black;
  background-color: yellow;
  color: hsl(0, 0%, 15%);
}

.about-me-container {
  text-align: center;
}

.right a {
  text-decoration: none;
  color: hsl(0, 0%, 15%);
}

.right a:hover {
  color: hsl(0, 0%, 50%);
}

footer {
  text-align: center;
  border: 1px solid black;
  height: 10vh;
  background-color: hsl(0, 0%, 15%);
  color: yellow;
}

footer:hover {
  background-color: yellow;
  color: hsl(0, 0%, 15%);
}

@media (max-width: 800px) {
  .main-container {
    flex-direction: column;
    height: 80%;
  }

  .left {
    width: 100%;
  }

  .links-container {
    flex-direction: row;
    gap: 10px;
  }

  .links-container a {
    padding: 10px;
  }

  .middle {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .about-me-container {
    display: flex;
    gap: 20px;
  }

  footer {
    height: 10%;
  }
}
